#header {
    background-color: var(--surface-0);
    padding: 0.5em;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    color: var(--text-color);
    display: flex;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

@media only screen and (min-width: 1032px) {
    .align-left {
        width: 33.33%;
    }

    .align-center {
        width: 33.33%;
    }

    .align-right {
        width: 33.33%;
    }
}

@media only screen and (min-width: 777px) and (max-width: 1031.98px) {
    .align-left {
        width: 33.33%;
    }

    .align-center {
        width: 33.33%;
    }

    .align-right {
        width: 33.33%;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 776.98px) {
    .align-left {
        width: 50%;
        text-align: left;
    }

    .align-right {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
}

#header ::ng-deep .p-dropdown-item {
    text-align: left;
}
